name: Test PowerShell Modules with Pester

on:
  push:
    branches: [ feature/*, fix/*, improvement/*, main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
permissions:
  contents: read
  checks: write
  pull-requests: write
jobs:
  test:
    runs-on: windows-latest
    env:
      FILEGUARDIAN_CONFIG_PATH: ${{ github.workspace }}/config/backup-config.json
      FILEGUARDIAN_LOG_DIRECTORY: ${{ github.workspace }}/logs
      FILEGUARDIAN_REPORT_OUTPUT_PATH: ${{ github.workspace }}/reports
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: test module
        id: test_module
        uses: zyborg/pester-tests-report@v1
        with:
          include_paths: tests
          exclude_paths: tests/powershell1,tests/powershell2
          exclude_tags: skip_ci
          report_name: module_tests
          report_title: My Module Tests
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: dump test results
        shell: pwsh
        run: |
          Write-Host 'Total Tests Executed...:  ${{ steps.test_module.outputs.total_count }}'
          Write-Host 'Total Tests PASSED.....:  ${{ steps.test_module.outputs.passed_count }}'
          Write-Host 'Total Tests FAILED.....:  ${{ steps.test_module.outputs.failed_count }}'